* {
    margin: 0;
    padding: 0;
}

.footerStyles {
  .container {       
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: wheat;    
    padding: 25px 0;
  }  

  ul {
      list-style-type: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    li {
        margin: 5px 0;
    }
  }


}